#contact-desktop-info,
#kontakt-desktop-info,
#контакт-desktop-info {
  width: 100%;
  height: 100%;
  text-align: center;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-size: var(--heading-size);
}

#contact-desktop-heading,
#kontakt-desktop-heading,
#контакт-desktop-heading {
  padding: 2rem;
  font-size: 1.5em;
}

#контакт-desktop-heading {
  font-size: 1.1em;
  padding: 2rem 2rem 3rem 2rem;
}

#contact-desktop-info-address,
#kontakt-desktop-info-address,
#контакт-desktop-info-address {
  width: 80%;
  height: 70%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "mail mail social"
  "tel tel social"
  ". button .";
  font-size: 1.4em;
}

#contact-desktop-info-mailto,
#kontakt-desktop-info-mailto,
#контакт-desktop-info-mailto {
  justify-self: center;
  align-self: flex-end;
  grid-area: mail;
}

#contact-desktop-info-tel,
#kontakt-desktop-info-tel,
#контакт-desktop-info-tel {
  justify-self: center;
  align-self: flex-start;
  grid-area: tel;
}

#contact-desktop-social-media,
#kontakt-desktop-social-media,
#контакт-desktop-social-media {
  grid-area: social;
  margin: auto;
  justify-self: flex-end;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

#contact-desktop-download-button,
#kontakt-desktop-download-button,
#контакт-desktop-download-button {
  grid-area: button;
  text-transform: uppercase;
  font-family: var(--easy-to-read);
  width: 100%;
  background-color: var(--primary-color);
  border: none;
  padding: 1rem;
  align-self: flex-start;
  color: var(--font-color);
  border-radius: .8rem;
  border: .1rem solid transparent;
}

#contact-desktop-download-button:focus,
#kontakt-desktop-download-button:focus,
#контакт-desktop-download-button:focus {
  background-color: var(--button-clicked);
  color: black;
  border: .1rem solid black;
}