#welcome-desktop,
#willkommen-desktop,
#добро-пожаловать-desktop {
  display: grid;
  grid-template-columns: 70% 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "pic info"
  ;
}

#welcome-desktop-pic,
#willkommen-desktop-pic,
#добро-пожаловать-desktop-pic {
  grid-area: pic;
  background-image: 
    linear-gradient(90deg, rgba(36, 51, 74, 0.5), rgba(36, 51, 74, 0.5)),
    url("../../../images/code-1920x1278.jpg")
  ;
  background-repeat: no-repeat;
  background-position: 10% 50%;
  background-size: cover;
}

#welcome-desktop-text-container,
#willkommen-desktop-text-container,
#добро-пожаловать-desktop-text-container {
  grid-area: pic;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0rem 0rem 8rem 5rem;
  gap: 1rem;
}

#welcome-desktop-text-container #who-am-i,
#willkommen-desktop-text-container #who-am-i,
#добро-пожаловать-desktop-text-container #who-am-i {
  display: inline-flex;
  justify-content: center;
  width: 14ch;
  animation: whoAmI var(--anim-duration, 3.5s) ease-in-out 0s infinite;
}

#willkommen-desktop-text-container #who-am-i {
  width: 16ch;
}

#добро-пожаловать-desktop-text-container #who-am-i {
  width: 20ch;
}

#welcome-desktop-text-container #who-am-i-text,
#willkommen-desktop-text-container #who-am-i-text,
#добро-пожаловать-desktop-container #who-am-i-text {
  font-style: italic;
}

#welcome-desktop-text-container p,
#willkommen-desktop-text-container p,
#добро-пожаловать-desktop-text-container p,
#welcome-desktop-text-container h1,
#willkommen-desktop-text-container h1,
#добро-пожаловать-desktop-text-container h1 {
  font-size: 4rem;
  font-family: var(--easy-to-read);
  text-shadow: .2rem .2rem .4rem var(--welcome-text-shadow);
}

#welcome-desktop-info,
#willkommen-desktop-info,
#добро-пожаловать-desktop-info {
  grid-area: info;
  background-color: var(--primary-color, #5569dc);
}

#welcome-desktop-info-address,
#willkommen-desktop-info-address,
#добро-пожаловать-desktop-info-address {
  font-size: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

#welcome-desktop-social-media,
#willkommen-desktop-social-media,
#добро-пожаловать-desktop-social-media {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: .5rem;
}

#welcome-desktop-download-button,
#willkommen-desktop-download-button,
#добро-пожаловать-desktop-download-button {
  text-transform: uppercase;
  font-family: var(--easy-to-read);
  width: 50%;
  background-color: var(--font-color);
  border: none;
  padding: .5rem;
  align-self: center;
  color: var(--primary-color);
  border-radius: .8rem;
  border: .1rem solid transparent;
  margin-bottom: .3rem;
}

#welcome-desktop-download-button:focus,
#kontakt-desktop-download-button:focus,
#добро-пожаловать-desktop-download-button:focus {
  background-color: var(--button-clicked);
  color: black;
  border: .1rem solid black;
}