#about-tablet,
#ueber-mich-tablet,
#обо-мне-tablet {
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-color);
  font-size: var(--heading-size);
}

#about-tablet-heading,
#ueber-mich-tablet-heading,
#обо-мне-tablet-heading {
  justify-self: flex-start;
  margin: 2rem 0 0 0;
}

#about-tablet-text-container,
#ueber-mich-tablet-text-container,
#обо-мне-tablet-text-container {
  flex: 0 1 90%;
  padding: 2rem;
  font-size: .8em;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  line-height: 1.6em;
}

.about-tablet-text,
.ueber-mich-tablet-text,
.обо-мне-tablet-text {
  padding: 1rem .5rem;
  flex: 1 0 80%;
  margin: 5% 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--easy-to-read);
}

.about-tablet-text:nth-child(odd),
.ueber-mich-tablet-text:nth-child(odd),
.обо-мне-tablet-text:nth-child(odd) {
  background-color: var(--primary-color);
  color: var(--font-color);
  border-radius: .8rem;
}