#projects-tablet,
#projekte-tablet,
#проекты-tablet {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: var(--heading-size);
}

#projects-tablet h2,
#projekte-tablet h2,
#проекты-tablet h2 {
  text-align: center;
  padding: 1rem 0 0 0;
}

#проекты-tablet h2 {
  font-size: .999em;
}

.projects-tablet-btn-container,
.projekte-tablet-btn-container,
.проекты-tablet-btn-container {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.projects-tablet-buttons,
.projekte-tablet-buttons,
.проекты-tablet-buttons {
  padding: .2rem .5rem;
  background-color: var(--primary-color);
  border: none;
  color: var(--font-color);
}


.projects-tablet-buttons,
.projekte-tablet-buttons,
.проекты-tablet-buttons,
.projects-tablet-figure-text h3,
.projekte-tablet-figure-text h3,
.проекты-tablet-figure-text h3,
.projects-figure-button-container a,
.projekte-figure-button-container a,
.проекты-figure-button-container a {
  text-transform: uppercase;
}

.projects-tablet-buttons,
.projekte-tablet-buttons,
.проекты-tablet-buttons,
.projects-tablet-figure-text p,
.projekte-tablet-figure-text p,
.проекты-tablet-figure-text p,
.projects-tablet-figure-text h3,
.projekte-tablet-figure-text h3,
.проекты-tablet-figure-text h3,
.projects-tablet-figure-text a,
.projekte-tablet-figure-text a,
.проекты-tablet-figure-text a {
  font-family: var(--easy-to-read);
  font-size: .7em;
}

#projects-tablet-container,
#projekte-tablet-container,
#проекты-tablet-container {
  width: 100%;
  height: 90%;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 0;
}

.projects-tablet-figure,
.projekte-tablet-figure,
.проекты-tablet-figure {
  width: 45%;
  height: 100%;
  border: 1px solid var(--primary-color);
  border-radius: 1.2rem;
  overflow: hidden;
  box-shadow: .2rem .2rem .4rem var(--primary-color),
    -.2rem -.2rem .4rem var(--primary-color);
}

.projects-tablet-figure-img,
.projekte-tablet-figure-img,
.проекты-tablet-figure-img,
.projects-tablet-figure-text,
.projekte-tablet-figure-text,
.проекты-tablet-figure-text {
  width: 100%;
  height: 50%;
}

.projects-tablet-figure-img,
.projekte-tablet-figure-img,
.проекты-tablet-figure-img {
  display: block;
  object-fit: cover;
  object-position: center top;
  box-shadow: 0 .4rem .8rem black;
}

.projects-tablet-figure-text,
.projekte-tablet-figure-text,
.проекты-tablet-figure-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: .5rem;
}

.projects-tablet-figure-text h3,
.projekte-tablet-figure-text h3,
.проекты-tablet-figure-text h3 {
  padding: .5rem 0;
}

.projects-tablet-figure-text p,
.projekte-tablet-figure-text p,
.проекты-tablet-figure-text p {
  word-wrap: break-word;
}

/* 
 check in mobile css rule set
.projects-figure-button-container,
.projekte-figure-button-container,
.проекты-figure-button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.projects-figure-button-container a,
.projekte-figure-button-container a,
.проекты-figure-button-container a {
  padding: .2rem .4rem;
  background-color: var(--primary-color);
  color: var(--font-color);
  border: none;
} 
*/