#skills-tablet,
#faehigkeiten-tablet,
#навыки-tablet {
  background-color: var(--primary-color, #5569dc);
  text-align: center;
  font-size: var(--heading-size);
}

#skills-tablet-container,
#faehigkeiten-tablet-container,
#навыки-tablet-container  {
  width: 100%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  overflow-y: scroll;
  font-size: .6em;
  padding: 1.1rem;
}

.skills-tablet,
.faehigkeiten-tablet,
.навыки-tablet {
  flex: 1 1 45%;
  height: 12.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: .5rem;
  background-color: var(--primary-color);
  background: transparent;
  box-shadow: .4rem .6rem 1.6rem 0 var(--box-shadow-color1),
    -.4rem -.4rem 1.4rem 0 var(--box-shadow-color2);
  border-radius: .4rem;
}

.skills-tablet h3,
.faehigkeiten-tablet h3,
.навыки-tablet h3{
  font-family: var(--easy-to-read);
}

#skills-tablet-heading,
#faehigkeiten-tablet-heading {
  font-size: 1em;
}

#навыки-tablet-heading {
  font-size: .9em;
}

#skills-tablet-heading,
#faehigkeiten-tablet-heading,
#навыки-tablet-heading {
  padding-bottom: 1rem;
  box-shadow: 0 .3rem .6rem rgba(0,0,0,.3);
}