/* welcome contact */

#welcome-info-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#welcome-mobile-info-address,
#welcome-tablet-info-address,
#welcome-desktop-info-address {
  grid-area: info;
  background-color: var(--primary-color, #5569dc);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#welcome-mobile-info-address.blur,
#welcome-tablet-info-address.blur,
#welcome-desktop-info-address.blur {
  filter: blur(.6rem);
}

#click-container {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#click-container p {
  font-size: 1.6em;
  text-align: center;
  text-shadow: .2rem .2rem .6rem var(--about-odd-shadow-color);
  padding: 2rem;
}

#click-container p#ru {
  font-size: 1.2em;
  text-align: center;
}

#link {
  text-decoration: underline;
}

#link::first-letter {
  text-transform: uppercase;
}

#link.ru {
  font-size: .8em;
}

#click-container p::first-letter {
  text-transform: uppercase;
}

#welcome-mobile-info-city,
#welcome-tablet-info-city,
#welcome-desktop-info-city {
  justify-self: flex-start;
  margin: auto;
}

#welcome-mobile-info-contact-container,
#welcome-tablet-info-contact-container,
#welcome-desktop-info-contact-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: auto;
  line-height: 1.6em;
}

#welcome-mobile-social-media,
#welcome-tablet-social-media,
#welcome-desktop-social-media {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: auto;
}

#welcome-mobile-download-button,
#welcome-tablet-download-button,
#welcome-desktop-download-button {
  text-transform: uppercase;
  background-color: var(--font-color);
  color: var(--primary-color);
  border-radius: .8rem;
  border: .1rem solid transparent;
  cursor: pointer;
  align-self: center;
  font-family: var(--easy-to-read);
}

#welcome-mobile-download-button {
  width: 35%;
  padding: .5rem;
  margin-bottom: 3rem;
}

#welcome-tablet-download-button {
  width: 50%;
  padding: .8rem;
  margin-bottom: 10rem;
}

#welcome-desktop-download-button {
  width: 35%;
  padding: 1rem;
  margin-bottom: 12rem;
}

#welcome-mobile-download-button:focus,
#welcome-tablet-download-button:focus,
#welcome-desktop-download-button:focus {
  background-color: var(--button-clicked);
  color: black;
  border: .1rem solid black;
}

/* FORM */

#contact-info-container {
  width: 100%;
  height: 100%;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-size: var(--heading-size);
  display: flex; 
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#contact-heading-en,
#contact-heading-ger,
#contact-heading-ru {
  text-align: center;
  text-shadow: .1rem .1rem 0 var(--about-odd-shadow-color);
}

#contact-heading-ger {
  font-size: 1.3em;
}

#contact-heading-ru {
  font-size: .93em;
}

#contact-form {
  height: 85%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
  background-color: var(--font-color);
  border-radius: .8rem;
  box-shadow: .2rem .2rem .6rem var(--about-odd-shadow-color),
    -.2rem -.2rem .6rem var(--about-odd-shadow-color);
}

#contact-form div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 0 .5rem;
  border-radius: .8rem;
  justify-content: space-evenly;
}

#contact-form div label,
#contact-form div input {
  height: calc(var(--heading-size) + 1rem);
}

#contact-form div label {
  width: 100%;
  text-transform: capitalize;
}

#contact-form div input,
#contact-form div textarea {
  border: .1rem solid var(--primary-color);
}

#contact-form div input,
#contact-form div textarea,
#contact-form div label {
  border-radius: .8rem;
  font-family: var(--easy-to-read);
  font-style: italic;
  color: var(--primary-color);
}

#contact-form div input:focus,
#contact-form div textarea:focus {
  outline: .15rem solid var(--primary-color);
}

#contact-form div input::placeholder,
#contact-form div textarea::placeholder {
  color: var(--box-shadow-color2);
  text-transform: capitalize;
}

#contact-form div input,
#contact-form div textarea {
  width: 100%;
  font-size: .8em;
  padding: .5rem;
}

#contact-form div textarea {
  width: 100%;
  height: 15ch;
}

#contact-form div button {
  width: 50%;
  margin: 0 auto;
  border: .1rem solid transparent;
  border-radius: .8rem;
  padding: .5rem;
  /*
  color: var(--font-color);
  background-color: var(--primary-color); 
  this properties comes from js
  */
  font-size: 1em;
  text-transform: capitalize;
  cursor: pointer;
}



/* honeypot */
.form-password {
  opacity: 0;
  position: absolute;
  inset: 0;
  height: 0;
  width: 0;
  z-index: 1;
}