#impress-mobile article,
#impress-tablet article,
#impress-desktop article {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 2rem;
}

#impress-mobile article address,
#impress-tablet article address,
#impress-desktop article address {
  width: 100%;
  height: calc(100% - 1.2em - 4rem - .6rem - .2rem);
  padding: 0 2rem;
  background-color: var(--font-color);
  border-radius: .8rem;
}

#impress-mobile,
#impress-tablet,
#impress-desktop {
  background-color: var(--secondary-color);
  text-align: left;
  font-size: var(--heading-size);
}

#impress-mobile *,
#impress-tablet *,
#impress-desktop * {
  font-family: var(--easy-to-read);
  line-height: 2em;
  color: var(--primary-color);
}

#impress-mobile article h1,
#impress-tablet article h1,
#impress-desktop article h1 {
  text-align: center;
  font-size: 1.2em;
}

#impress-mobile article address h2,
#impress-desktop article address h2 {
  font-size: 1.2em;
}

#impress-mobile article address p {
  font-size: .9em;
}

#impress-mobile article address p:not(:first-of-type),
#impress-tablet article address p:not(:first-of-type),
#impress-desktop article address p:not(:first-of-type){
  unicode-bidi: bidi-override;
  direction: rtl;
}