section#welcome-mobile,
section#welcome-tablet,
section#welcome-desktop {
  display: grid;
  position: relative;
  font-size: var(--heading-size);
}

section#welcome-mobile {
  grid-template-rows: 55% 1fr;
  grid-template-areas: "pic" "info";
}


section#welcome-tablet,
section#welcome-desktop {
  grid-template-areas: "pic info";
  grid-template-columns: 70% 1fr;
}

#welcome-mobile-pic,
#welcome-tablet-pic,
#welcome-desktop-pic,
/* mobile */
#welcome-mobile-en-text-container,
#welcome-mobile-ger-text-container,
#welcome-mobile-ru-text-container,
/* tablet */
#welcome-tablet-en-text-container,
#welcome-tablet-ger-text-container,
#welcome-tablet-ru-text-container,
/* desktop */
#welcome-desktop-en-text-container,
#welcome-desktop-ger-text-container,
#welcome-desktop-ru-text-container {
  grid-area: pic;
}

#welcome-anchor {
  grid-area: pic;
  display: flex;
}

#welcome-mobile-pic,
#welcome-tablet-pic,
#welcome-desktop-pic {
  background-repeat: no-repeat;
  background-size: cover;
}

#welcome-mobile-pic{
  background-image: url("../../images/code-640x426.jpg");
  background-position: 50% 50%;
}

#welcome-tablet-pic,
#welcome-desktop-pic {
  background-position: 45% 50%;
}

#welcome-tablet-pic {
  background-image: 
    linear-gradient(90deg, var(--welcome-background-img), var(--welcome-background-img)),
    url("../../images/code-1920x1278.jpg")
  ;
}

#welcome-desktop-pic {
  background-image: 
    linear-gradient(90deg, var(--welcome-background-img), var(--welcome-background-img)),
    url("../../images/code-3882x2584.jpg")
  ;
}

/* mobile */
#welcome-mobile-en-text-container,
#welcome-mobile-ger-text-container,
#welcome-mobile-ru-text-container,
/* tablet */
#welcome-tablet-en-text-container,
#welcome-tablet-ger-text-container,
#welcome-tablet-ru-text-container,
/* desktop */
#welcome-desktop-en-text-container,
#welcome-desktop-ger-text-container,
#welcome-desktop-ru-text-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* mobile */
#welcome-mobile-en-text-container,
#welcome-mobile-ger-text-container,
#welcome-mobile-ru-text-container {
  position: absolute;
  inset: 0;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(
    circle at 50%,
    var(--welcome-container-background),
    transparent
  );
}

/* tablet */
#welcome-tablet-en-text-container,
#welcome-tablet-ger-text-container,
#welcome-tablet-ru-text-container,
/* desktop */
#welcome-desktop-en-text-container,
#welcome-desktop-ger-text-container,
#welcome-desktop-ru-text-container {
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

/* mobile */
#welcome-mobile-en-text-container p,
#welcome-mobile-en-text-container h1,
#welcome-mobile-ger-text-container p,
#welcome-mobile-ger-text-container h1,
#welcome-mobile-ru-text-container p,
#welcome-mobile-ru-text-container h1,
/* tablet */
#welcome-tablet-en-text-container p,
#welcome-tablet-en-text-container h1,
#welcome-tablet-ger-text-container p,
#welcome-tablet-ger-text-container h1,
#welcome-tablet-ru-text-container p,
#welcome-tablet-ru-text-container h1,
/* desktop */
#welcome-desktop-en-text-container p,
#welcome-desktop-en-text-container h1,
#welcome-desktop-ger-text-container p,
#welcome-desktop-ger-text-container h1,
#welcome-desktop-ru-text-container p,
#welcome-desktop-ru-text-container h1 {
  word-wrap: break-word;
  font-family: var(--easy-to-read);
  text-shadow: .2rem .2rem .4rem var(--welcome-text-shadow);
  font-size: 1.4em;
}

/* tablet */
#welcome-tablet-en-text-container p:first-child,
#welcome-tablet-ger-text-container p:first-child,
#welcome-tablet-ru-text-container p:first-child,
/* desktop */
#welcome-desktop-en-text-container p:first-child,
#welcome-desktop-ger-text-container p:first-child,
#welcome-desktop-ru-text-container p:first-child { 
  justify-self: flex-start;
  margin-bottom: 5rem;
}

/* tablet */
#welcome-tablet-en-text-container h1,
#welcome-tablet-ger-text-container h1,
#welcome-tablet-ru-text-container h1,
/* desktop */
#welcome-desktop-en-text-container h1,
#welcome-desktop-ger-text-container h1,
#welcome-desktop-ru-text-container h1 {
  align-self: center;
}

/* tablet */
#welcome-tablet-en-text-container p:last-child,
#welcome-tablet-ger-text-container p:last-child,
#welcome-tablet-ru-text-container p:last-child,
/* desktop */
#welcome-desktop-en-text-container p:last-child,
#welcome-desktop-ger-text-container p:last-child,
#welcome-desktop-ru-text-container p:last-child {
  align-items: center;
  margin-bottom: 26rem;
}


/* mobile */
#welcome-mobile-en-text-container #who-am-i-text,
#welcome-mobile-ger-text-container #who-am-i-text,
#welcome-mobile-ru-text-container #who-am-i-text,
/* tablet */
#welcome-tablet-en-text-container #who-am-i-text,
#welcome-tablet-ger-text-container #who-am-i-text,
#welcome-tablet-ru-text-container #who-am-i-text,
/* desktop */
#welcome-desktop-en-text-container #who-am-i-text,
#welcome-desktop-ger-text-container #who-am-i-text,
#welcome-desktop-ru-text-container #who-am-i-text {
  font-style: italic;
  text-align: center;
}

/* mobile */
#welcome-mobile-en-text-container #who-am-i-text #who-am-i,
#welcome-mobile-ger-text-container #who-am-i-text #who-am-i,
#welcome-mobile-ru-text-container #who-am-i-text #who-am-i,
/* tablet */
#welcome-tablet-en-text-container #who-am-i-text #who-am-i,
#welcome-tablet-ger-text-container #who-am-i-text #who-am-i,
#welcome-tablet-ru-text-container #who-am-i-text #who-am-i,
/* desktop */
#welcome-desktop-en-text-container #who-am-i-text #who-am-i,
#welcome-desktop-ger-text-container #who-am-i-text #who-am-i,
#welcome-desktop-ru-text-container #who-am-i-text #who-am-i {
  display: block;
  animation: whoAmI var(--anim-duration, 3.5s) ease-in-out 0s infinite;
}

@media screen and (orientation: landscape) {
  #welcome-mobile-pic{
    background-position: 50% 65%;
  }

  #welcome-mobile-en-text-container p,
  #welcome-mobile-en-text-container h1,
  #welcome-mobile-ger-text-container p,
  #welcome-mobile-ger-text-container h1,
  #welcome-mobile-ru-text-container p,
  #welcome-mobile-ru-text-container h1 {
    font-size: 1em;
  }
}