#projects-container {
  background-color: #eef0fb;
  color: var(--primary-color);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid green;
}

#projects-container h2 {
  text-align: center;
  padding: 1rem 0 0 0;
  font-size: 2rem;
}

#projects-mobile-buttons {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.projects-buttons {
  padding: .2rem .5rem;
  background-color: var(--primary-color);
  border: none;
  color: white;
  text-transform: uppercase;
}

.projects-buttons,
.project-info-card h3,
.show-on {
  font-family: 'Playfair Display';
}

#projects-mobile-container {
  border: 1px solid red;
  width: 100%;
  height: 80%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

.projects-mobile-figure {
  width: 80%;
  min-height: 100%;
  border: 1px solid blue;
}

.projects-mobile-figure-img,
.projects-mobile-figure-text {
  width: 100%;
  height: 50%;
  border: 1px solid green;
}

.projects-mobile-figure-img {
  display: inline-block;
}

.projects-mobile-figure-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: .5rem;
}

.projects-mobile-figure-text h3 {
  padding: .5rem 0;
  text-transform: uppercase;
}

.projects-mobile-figure-text h3,
.projects-mobile-figure-text p,
.projects-mobile-figure-text a {
  font-family: 'Playfair Display';
}

.projects-figure-button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.projects-figure-button-container a {
  padding: .2rem .4rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  text-transform: uppercase;
}