footer {
  grid-area: footer;
  background-color: var(--primary-color, #5569dc );
  grid-column: span 12;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

footer a,
#footer-h3-mobile {
  font-size: 1.6rem;
}

footer a.ru,
#footer-h3-mobile.ru {
  font-size: 1.5rem;
}

footer a,
#footer-h3-tablet {
  font-size: 2.1rem;
}

footer a,
#footer-h3-desktop {
  font-size: 2.3rem;
}