footer {
  grid-area: footer;
  background-color: var(--primary-color, #5569dc );
  grid-column: span 12;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-h3-mobile {
  font-size: 1.8rem;
}

#footer-h3-tablet {
  font-size: 2.1rem;
}

#footer-h3-desktop {
  font-size: 2.3rem;
}