#about-mobile,
#ueber-mich-mobile,
#обо-мне-mobile {
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-color);
  font-size: var(--heading-size)
}

#about-mobile-heading,
#ueber-mich-mobile-heading,
#обо-мне-mobile-heading {
  justify-self: flex-start;
  margin: 0;
  font-size: 1.5em;
}

#about-mobile-text-container,
#ueber-mich-mobile-text-container,
#обо-мне-mobile-text-container {
  flex: 0 1 80%;
  padding: 2rem;
  font-size: .8em;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.about-mobile-text,
.ueber-mich-mobile-text,
.обо-мне-mobile-text {
  padding: 1rem .5rem;
  flex: 1 0 35%;
  margin: 10% 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--easy-to-read);
}

.about-mobile-text:nth-child(odd),
.ueber-mich-mobile-text:nth-child(odd),
.обо-мне-mobile-text:nth-child(odd) {
  background-color: var(--primary-color);
  color: var(--font-color);
  border-radius: .8rem;
}