#skills-mobile,
#faehigkeiten-mobile,
#навыки-mobile {
  background-color: var(--primary-color, #5569dc);
  text-align: center;
  font-size: var(--heading-size);
}

#skills-mobile-container,
#faehigkeiten-mobile-container,
#навыки-mobile-container  {
  width: 100%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-content: space-between;
  overflow-y: scroll;
  font-size: .6em;
  padding: 1.1rem;
}

.skills-mobile-figure,
.faehigkeiten-mobile-figure,
.навыки-mobile-figure {
  flex: 1 1 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: .5rem;
  background-color: var(--primary-color);
  background: transparent;
  box-shadow: .4rem .6rem 1.6rem 0 var(--box-shadow-color1),
    -.8rem -.8rem 1.8rem 0 var(--box-shadow-color2);
  border-radius: .4rem;
}

.skills-mobile-figure h3,
.faehigkeiten-mobile-figure h3,
.навыки-mobile-figure h3{
  font-family: var(--easy-to-read);
}

#skills-mobile-heading,
#faehigkeiten-mobile-heading,
#навыки-mobile-heading {
  padding-bottom: 1rem;
  font-size: 1.5em;
}