#contact-mobile-info,
#kontakt-mobile-info,
#контакт-mobile-info {
  width: 100%;
  height: 100%;
  text-align: center;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-size: var(--heading-size);
}

#contact-mobile-info h2,
#kontakt-mobile-info h2,
#контакт-mobile-info h2 {
  padding: 2rem 1rem;
}

#contact-mobile-info h2,
#kontakt-mobile-info h2{
  font-size: 1em;
}

#контакт-mobile-info h2 {
  font-size: .8em;
  padding: 2rem 1rem 2.2rem 1rem;
}

#contact-mobile-info-address,
#kontakt-mobile-info-address,
#контакт-mobile-info-address {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
}

#contact-mobile-info-mailto,
#kontakt-mobile-info-mailto,
#контакт-mobile-info-mailto {
  justify-self: center;
  margin-top: auto;
}


#contact-mobile-social-media,
#kontakt-mobile-social-media,
#контакт-mobile-social-media {
  margin: auto;
  justify-self: flex-end;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#contact-mobile-download-button,
#kontakt-mobile-download-button,
#контакт-mobile-download-button {
  text-transform: uppercase;
  font-family: var(--easy-to-read);
  width: 50%;
  background-color: var(--primary-color);
  border: none;
  padding: .5rem;
  align-self: center;
  color: var(--font-color);
  border-radius: .8rem;
  border: .1rem solid transparent;
}

#contact-mobile-download-button:focus,
#kontakt-mobile-download-button:focus,
#контакт-mobile-download-button:focus {
  background-color: var(--button-clicked);
  color: black;
  border: .1rem solid black;
}