/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Niconne', 'Pacifico', cursive, monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  max-width: 100%;
  height: 100vh;
}

body, #root, #app {
  width: 100%;
  height: 100%;
  color: var(--font-color, white);
}

h2 {
  background-color: var(--primary-color);
  color: var(--font-color);
  width: 100%;
  text-align: center;
  margin: 0;
}

#filler-tablet {
  height: 6%;
  width: 100%;
  background-color: var(--primary-color);
}
/* 
  colors
  sizes
  fonts
  animation 
*/
:root {
  --primary-color: #5569dc;
  --secondary-color: #eef0fc;
  --button-clicked: #8592de;
  --font-color: #fff;
  --welcome-text-shadow: #000;
  --box-shadow-color1: rgba(0, 0, 0, .3);
  --box-shadow-color2: rgba(159, 157, 157, 0.55);
  --heading-size: 2.2rem;
  --easy-to-read: 'Playfair Display';
  --anim-duration: 3.5s;
}

@keyframes whoAmI {
  from {
    transform: scale(0);
  }
  to{
    transform: scale(1.15);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 85vh;
    max-width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

/* reset ends */